<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.marcocarettoni.AutoCasterPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>

    </configSections>
  <appSettings>
    <add key="CheckForUpdateOnStartup" value="0" />
    <add key="startingDelay" value="3000" />
    <add key="ManaSec" value="54" />
    <add key="ManaMax" value="1442" />
    <add key="AutomaticChk" value="1" />
    <add key="Skill1" value="1" />
    <add key="Button1" value="2" />
    <add key="Mana1" value="300" />
    <add key="Wait1" value="0" />
    <add key="Dalay1" value="" />
    <add key="Skill2" value="1" />
    <add key="Button2" value="4" />
    <add key="Mana2" value="800" />
    <add key="Wait2" value="1" />
    <add key="Dalay2" value="" />
    <add key="Skill3" value="1" />
    <add key="Button3" value="5" />
    <add key="Mana3" value="900" />
    <add key="Wait3" value="0" />
    <add key="Dalay3" value="" />
    <add key="Skill4" value="0" />
    <add key="Button4" value="" />
    <add key="Mana4" value="" />
    <add key="Wait4" value="" />
    <add key="Dalay4" value="" />
    <add key="Skill5" value="0" />
    <add key="Button5" value="" />
    <add key="Mana5" value="" />
    <add key="Wait5" value="" />
    <add key="Dalay5" value="" />
  </appSettings>
    <userSettings>
      
    </userSettings>
</configuration>